.field{
  &_wrapper{
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
  }

  &_header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
  }

  &_counter{
    max-width: 200px;
    display: flex;
    border-bottom: 2px solid var(--black);
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    & input {
      max-width: 130px;
      font-size: 24px;
      border: none;
      background-color: var(--lighter-gray);
      padding: 4px 8px;
      outline: none;
    }
  }
  
  &_settings{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      transform: rotate(90deg);
    }
  }
  
  &_body{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  &_card{
    overflow: hidden;
    border-radius: 1.2vw;
    border: 2px solid var(--black);
    width: calc((100% - 100px)/6);
    & img{
      width: 100%;
    }
  }
}